.n-banner__slider .swiper-pagination {
    width: 100%;
    text-align: center;
    padding-right: 64px;
    bottom: 90px;
    z-index: 1;
}

.n-banner__title {
    user-select: none;
    font-size: 72px;
    line-height: 1;
    margin-bottom: 40px;
}

@media print, (max-width: 960px) {
    .n-banner__slider .swiper-pagination {
        padding-right: 0;
        text-align: center;
    }

    .n-banner__title {
        font-size: 32px;
        margin-bottom: 24px;
    }
}

@media (max-height: 400px) {
    .n-banner__slider .swiper-pagination {
        bottom: 80px;
    }
}

.n-banner__slider .swiper-pagination .swiper-pagination-bullet {
    margin-right: 6px;
}

.n-banner__slider .swiper-pagination-bullet-active {
    background-color: #fff;
}

.n-banner__slide {
    position: relative;
    display: flex;
    min-height: 100%;
    align-items: center;
    min-height: 100vh;
    margin-bottom: -300px;
    padding: 0 64px;
}

.n-banner__text-wrap {
    position: relative;
    z-index: 2;
}

@media (max-width: 768px) {
    .n-banner__text-wrap {
        width: 100%;
    }

    .n-banner__slide {
        align-items: center;
        padding-top: 220px;
        padding: 0 10px;
    }
}

.n-banner__slide-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.n-banner__slide-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(63.05% 181.33% at 63.05% 59.93%, rgba(58, 40, 40, 0.2) 0%, rgba(58, 40, 40, 0.9) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.n-banner__slide-bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.n-banner__description {
    margin-bottom: 24px;
}

.sl-arrows__arrow {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    top: 50%;
    width: 18px;
    height: 40px;
    background-size: 100% 100%;
}

@media (max-width: 960px) {
    .sl-arrows__arrow {
        /* display: none; */
    }
}

.sl-arrows__arrow--prev {
    left: 20px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 19 44"%3E%3Cpath stroke="%23fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="3" d="M15.97 41.36 2 22.18 15.97 3"/%3E%3C/svg%3E');
}

.sl-arrows__arrow--next {
    right: 20px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 19 44"%3E%3Cpath stroke="%23fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="3" d="m3 41.36 13.96-19.18L3 3"/%3E%3C/svg%3E');
}
.n-banner__align {
    padding-top: 24px;
}

@media print, (max-width: 960px) {
    .n-banner__align {
        padding-top: 0;
    }
}

.n-banner__button {
    position: relative;
    z-index: 10;
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #fff;
    transition: 0.2s;
}

.n-banner__button:hover {
    background-color: #fff;
    color: #000;
}

.n-banner__button:active {
    background-color: rgb(224, 224, 224);
}

@media (max-width: 768px) {
    .n-banner__button {
        width: 100%;
        text-align: center;
    }
}

body.main .banner .wrapper {
    max-height: 100px;
    position: absolute;
    bottom: 0;
}
